@import '../../shared/styles/base.css';

.app__content {
    grid-area: main;
    margin: 10px 25px;
}

.app__content h1 {
    font-size: 2.0em;
    font-weight: 300;
    color: rgb(102, 102, 102);
}

.app__content h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: rgb(102, 102, 102);
}